.DateContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(206, 205, 205);
}
.DateContainer div{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.DateContainer div div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width:  */
}
.DateContainer div div p{
    font-size: 20px;
    font-weight: 600;
    color: rgba(206, 205, 205, 0.3);
}
.DateArrow{
    font-size: 40px;
    color: rgba(206, 205, 205, 0.3);
}